<% if (!!data.user) { %>
    <% if (!!data.isAccount) { %>
        <h3>Account</h3>
        <div class="page-content">
            <a href="/account/newsfeed">Newsfeed</a>
            <a href="/account/update">Account Update</a>
            <a href="/account/search">Search</a>
            <a href="/account/logout">Logout</a>
        </div>
    <% } else {%>
    <h3>Upload Media</h3>
    <div class="page-content">
        <a href="/upload/<%= data.customer._id %>">Single Media</a>
    </div>
<% }}
else {
%>
    <h1>Account</h1>
    <div class="page-content">
        <a href="/users/login">Login</a>
        <a href="/users/register">Register</a>
    </div>
<%