
	#block{
            background-color:#8d1945;
            float: left;
            margin: 32px;
            padding-top: 25px;
            color: white;
            padding-left: 80px;
            padding-bottom: 25px;
        }  

    #list{
        float: right;
        padding-left: 360px;
        padding-top: 50px;
    }
    #sign{
        padding-top: 40px;
    }
    #poto{
        background-color: black;
        margin: 45px;
        padding: 45px;
        padding-left: 100px;
    }
    #butt{
        background-color: tomato;height:70px;width:250px;border-radius:0%;
    }
    #crd{
        text-align: center; width: 350px;border: none;
    }

   