<%- include('includes/head.ejs') %>
</head>
<script src="/javascript/common.js"></script>
<body class="container">
<%- include('includes/header.ejs') %>
<div class="row">
        <h1>Search Page</h1>
</div>
</body>
</html>