<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>To-Do App</title>
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
</head>

<body>
    <div class="container"style="background-color: rgba(246, 246, 246, 0.911); width: 600px;">
        <div class="row">
            <div class="col-2"></div>
            <div class="h1 text-dark ">To-DO Application</div>
        </div>
        <div class="row">
            <ul class="nav">
                <li class="h6"><a class="nav-link" href="/admin/add-todo.html">Add To-Do list</a></li>
                <li class="h6"><a class="nav-link" href="/">Display To-Do list</a></li>
            </ul>
        </div>
    </div>
</body>

</html>
